<div class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hire Me
        </h1>
      </div>
    </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <p>I am available to hire remotely on a part-time basis for the following: code review/consulting, website development, mobile app development (using Ionic Framework)</p>
      <p>I am available to hire on a full-time basis either remotely, or in the following areas: Washington, D.C. metro area, Orange County, CA.  
      I am willing to work on a corp-to-corp or 1099 arrangement, or W2.</p>


      <p>
        Contact me at the following:
      </p>

      <h3>Kevin Clark</h3>
      <p>

       <strong>E: </strong> kevin.clark.adstech (@) gmail
        <br />
        <strong>T: </strong> 714.625.1940
      </p>
    </div>
  </div>
</div>
