<div class="hero">
    <div class="hero-body">
      <div class="container">
 
        <h1 class="title">
          Kevin Clark
        </h1>
        <h2 class="subtitle">
          Web Developer
        </h2>
      </div>
    </div>
  </div>

  <div class="section">
<div class="tile is-ancestor">
    <!-- The magical tile element! -->
  <div class="tile is-info">
    10+ Years Experience</div>
    <div class="tile is-info">
        Angular</div>
        <div class="tile is-info notification">
            AngularJS</div>
            <div class="tile is-info notification">
               React</div>
  </div></div>