
<nav  class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <!-- <img class="logo" src="../../../assets/img/logo.png" style="width:100px; height: 100px; max-height: unset; margin: 0 10px" alt="Kevin Clark, Web Application Developer logo"> -->
      <span class="logo flaticon-hand"></span>
    </a>

    <a role="button" class="navbar-burger" [class.is-active]=" isMobileMenuOpen " aria-label="menu" [attr.aria-expanded]="isMobileMenuOpen" (click)="isMobileMenuOpen = !isMobileMenuOpen">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

     <!-- shown on mobile --> 
  <div class="navbar-menu is-hidden-desktop" [class.is-active]=" isMobileMenuOpen">

    <p class="buttons">
      <a routerLink="/about" (click)="isMobileMenuOpen = false" routerLinkActive="active" class="button is-fullwidth">
        <span>About</span>
      </a>
      <a routerLink="/hire-me" (click)="isMobileMenuOpen = false" class="button is-fullwidth cta-button-clear">
        <span>Hire Me!</span>
      </a>

    </p>
  </div>

    <!-- not shown on mobile -->
  <div class="navbar-menu is-active is-hidden-touch">

    <p class="buttons">
      <a  routerLink="/about" routerLinkActive="active" class="button">
        <span>About</span>
      </a>
      <a  routerLink="/hire-me" routerLinkActive="active" class="button cta-button">
        <span>Hire Me!</span>
      </a>

    </p>
  </div>


</nav>