.buttons a {
    text-transform: uppercase;
}

nav {
    background-color: rgb(247, 247, 247);
    margin:0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

nav a.navbar-item {
    padding: 0 !important;
    margin: 0 !important;
    align-items: baseline;
}

p.buttons a {
    border: none;
    background: none;
}

.navbar-brand {
    margin-left: 20px;
    padding-right: 30px;
}