div.options-bar {
    padding: 10px;
    border-bottom: 1px solid gray;
}

div.options-bar a {
    margin: 5px 10px
}

div.options-bar .dropdown-menu {
    z-index: 10000;
}

div.options-bar span.selected-theme, div.options-bar span.selected-font {
    font-size: 75%;
    margin: 5px 10px;
}

div.app-container.courier {
   font-family: 'Courier New', Courier, monospace;
}

div.app-container.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 div.app-container.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
 }

 div.app-container.lucida-sans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }