
<div class="options-bar">



    <a class="button is-info" (click)="toggleTheme()">Switch Theme</a>
    <span class="selected-theme">Selected Theme: {{ selectedTheme }}</span>


    <div class="dropdown" #fontDropdown> <!-- -->

      <div class="dropdown-trigger">
        <button (click)="toggleDropdown()" class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Choose A Font</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class=" dropdown-content">
        <a (click)="selectFont('Cambria')" class="dropdown-item">
          Cambria
        </a>
        <a (click)="selectFont('Courier')" class="dropdown-item">
          Courier
        </a>
        <a (click)="selectFont('Lucida Sans')" class="dropdown-item">
            Lucida Sans
          </a>
          <a (click)="selectFont('Times New Roman')" class="dropdown-item">
              Times New Roman
            </a>
        <a (click)="selectFont('Reset')" class="dropdown-item">
            Reset
          </a>

      </div>
    </div>


    </div>
    <span class="selected-font">Current Font: {{ selectedFont }}</span>
</div>

<div class="app-container"  #appContainer>
  <app-header [theme]="themeType"></app-header>
  <app-content>
    <router-outlet></router-outlet>
  </app-content>
  <app-footer></app-footer>
</div>