<div class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About
        </h1>
      </div>
    </div>
</div>
<div class="section">
  <div class="container">
    <h2>About Me</h2>
      
      <div class="columns about-me">
          <div class="column">
              <img style=" width: 180px;" src="../../../assets/img/me.JPG" />
          </div>
          <div class="column is-10">
           Hi there! My name is Kevin Clark.  I am a developer who is passionate about web application development, microservices, and the cloud.  I am really interested in JavaScript (but mainly TypeScript), and any frameworks like 
           Angular, Vue.js, or React.  I prefer using Node.js and Express framework, or .NET for my APIs, and Firebase, SQL Server, MongoDb, or ElasticSearch for persistence.  I am a constant learner who is always looking into what is 
           new and what can help make me a better developer, because I know there is a lot I can learn - and, even if I "know" something, I can get a different perspective from other developers.  
           I currently am residing in the Washington, D.C. metro area with my beautiful wife and our 1 year old puppy, but am EXTREMELY passionate about moving to sunny Orange County, California!
          </div>

        </div>
  </div>
</div>
<div class="section">
  <div class="container">
      <h2>
          Resume
        </h2>
        <div class="resume">
    <div class="summary resume-section">
    <strong class="resume-section-header">SUMMARY</strong>
<p>
  Motivated and experienced web/mobile application developer with varied skill set consisting of numerous programming languages and frameworks seeking employment in Orange County, CA.  Skills include:
</p>

<ul style="margin-left: 15px">


<li class="is-size-6">Node.js</li>
<li class="is-size-6">JavaScript/TypeScript</li>
<li class="is-size-6">Angular (1, 2, 4, 5)</li>
<li class="is-size-6">Ionic Mobile Development (2+)</li>
<li class="is-size-6">Preact/React</li>
<li class="is-size-6">C# and .NET Core with Entity Framework Core</li>
<li class="is-size-6">ASP.NET and MVC 5 with Entity Framework 6</li>
<li class="is-size-6">jQuery, JSON, XML, HTML, SASS/CSS</li>
<li class="is-size-6">Microsoft SQL Server</li>
<li class="is-size-6">Mongodb</li>
<li class="is-size-6">ElasticSearch</li>
</ul>

<p>
while using Visual Studio 2017 and Visual Studio Code for the IDE.
</p>
    </div>

<div class="education resume-section">
  <strong class="resume-section-header">EDUCATION & CERTIFICATIONS</strong>
  <div>
  <span  class="tag"> M.S. Management Information Systems, Florida State University, 2010</span>
</div>
<div>
 <span  class="tag"> B.S. Management Information Systems with Computer Science minor, Florida State University, 2004</span>
</div>
</div>



<div class="project-experience resume-section">
<strong class="resume-section-header">PROJECT EXPERIENCE</strong>
<h4>ADS Technical Services, October 2013 to Present</h4>
<h5>Senior Software Developer</h5>

<p>
Responsible for large development effort on the modernization of of one of the agency's largest applications using ASP.NET Core, Angular 5, and SQL Server 2016. Architecting, diagramming, and distributing technical documentation and process flows to management, business analysts, and developers on the team. Designing the microservices structure and enforcing coding standards such as naming conventions, folder structure, project structure and data persistence. Developed code for integrating disparate microservices and created monitoring dashboard for service uptime. Monitoring sprint progress in Team Foundation Services, providing input with LOEs on items in the sprint backlog. Responsible for providing input into risks and issues from a development perspective to upper management.

Sole developer on a project to create an ASP.NET MVC external web application that connects to CRM 2013 via web services to create Invoice records. Additionally created a Web API web service that receives attachments and uploads them to SharePoint 2010 document library.

Played key developer role in using Visual Studio 2013, .NET and TFS to utilize Microsoft Dynamics 2013, custom HTML web resources, Knockout/Javascript, OData and Fetch XML web service calls using CRM REST endpoint to create a human resources and event tracking system for a large government agency.

Used Microsoft Dynamics CRM 2011 to create a prototype application for adding, storing, and tracking software license inventory, enabling end users to be able to view dashboards and run reports to determine where costs may be lowered. Used the same platform to create an application to track senior personnels votes for Unfunded Requirements.
</p>

<h4>Applied Information Sciences, August 2012 to September 2013</h4>
<h5>Software Engineer </h5>
<p>
Used Visual Studio, C#, and .NET along with the web interface to extend the Microsoft Dynamics CRM 2011 platform to store and assimilated personnel and position data within various organizations, while using the SCRUM Agile framework.  Used JavaScript/jQuery and AJAX to render/hide form and web page content.  Used ASP.NET platform to create and modify web forms, server controls, user controls and event handlers. Dynamically created and updated custom SharePoint lists, web parts, and content types to store and manipulate lists using C# and .NET.
</p>
<h4>Lockheed Martin, September 2008 to August 2012</h4>
<h5>Software Engineer Associate</h5>
<p>
Used Visual Studio, C#, .NET and JavaScript to create web forms, event handlers in code-behind files, and add server controls, and create validations to verify user data. Modified HTML content dynamically through JavaScript/jQuery scripting and edited layout of the page using cascading style sheets.  Created SQL queries to read, update or delete data from the tables.  Reviewed and evaluated system requirements derived from the business analysts, using them to create development design documentation. 
</p>

<h4>Blue Cross Blue Shield of Florida, July 2006 to August 2008</h4>
<h5>Developer I</h5>
<p>
Designed functional requirements, and created technical design documentation.
Applied appropriate standards, processes, procedures, and tools throughout the software development life cycle. 
Modified existing Siebel applications to meet application requirements. 
</p>
</div>
  </div>
</div>
</div>
