ul li:before {
    margin-left: 20px;
    padding-right: 15px;
    content: '✓';
  }

  ul li {
      margin: 5px 0;
  }

  p {
      margin: 10px;
  }

  .resume, .about-me {
      margin-left: 35px;
  }

  .resume-section {
      margin-bottom: 20px;

  }
  .section {
    padding-bottom: 0 !important;
  }

  .resume-section-header {
      margin-bottom: 10px;
  }

  .project-experience h4 {
      font-weight: bolder;
  }

  .project-experience h5 {
      font-style: italic;
  }

  .project-experience p {
      margin: 10px;
  }