/* You can add global styles to this file, and also import other style files */


body {
    margin-right:0;
}

body.dark-theme {
    color: #FFF;
    background-color: #2b2b2b; 

}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.dark-theme app-footer footer, .dark-theme app-header nav {
    background-color: #1b1b1b;
    color: #FFF;
}

body.light-theme, .light-theme app-footer nav  {
    background-color:#FFF;
    color: #363636;
}

.cta-button {
    background-color: #209cee !important;
    color:#FFF;
}


.cta-button-clear {
    background-color: none !important;
    color:#209cee !important;
}


 .light-theme app-header nav {
    background-color: #fafafa !important;
    color: #000;
 }


 .dark-theme nav .navbar-menu, .dark-theme nav .navbar-menu a {
     color: #FFF;
     background-color: #1b1b1b;
 }

.dark-theme .title, .dark-theme strong {
    color: white;
}

.light-theme .title, .light-theme strong {
    color: #363636;
}

.light-theme div.hero, .light-theme div.hero h1, .light-theme div.hero h2 {
    background-color: #209cee;
    color:#FFF;
}

.dark-theme div.hero {
    background-color: #5a5a5a;
    color: white;
}

.dark-theme .navbar-burger {
    color: #FFF;
}

.dark-theme app-header nav a.navbar-item span.flaticon-hand {
    color:rgb(238, 238, 238);
}

.light-theme app-header nav a.navbar-item span.flaticon-hand {
    color: #363636;
}
